name: "Go"

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  test:
    name: "Test"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v3"

      - uses: "actions/setup-go@v3"
        with:
          go-version: "1.18.2"

      - run:
          make test vet
